@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

body::before {
    display: block;
    content: '';
    height: 81px;
}

.navbar-brand {
    font-size: 32px;
    font-weight: 800;
}

.nav-item {
    font-size: 18px;
    font-weight: 700;
}

.nav-item .l {
    margin-right: 13px;
}

.navbar-custom {
    background-color: #05445E;
}

.navbar-dark .nav-item .nav-link, #home {
    color: #D4F1F4;
}

.navbar-dark .nav-item .nav-link:hover {
    color: #77999c;
}

#home {
    background-color: #189AB4;
    padding-top: 100px;
    padding-bottom: 100px;
}

#home a {
    text-decoration: none;
    color: #D4F1F4;
}

.links .link {
    display: inline-block;
    width: 50px;
    height: 50px;
    align-items: center;
    border: 2px solid #05445E;
    border-radius: 50%;
    transition: 0.4s;
}

.links .link:hover {
    background-color: #05445E;
}

.link a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.link i {
    font-size: 24px;
}

.hello {
    font-size: 32px;
}

.name {
    font-size: 46px;
}

.a-what {
    font-weight: 600;
    font-size: 26px;
}

.my-portfolio-btn {
    padding: 13px 40px;
    font-size: 15px;
    border-radius: 50px;
    border: 2px solid #05445E;
    background-color: #189AB4;
    color: #D4F1F4;
    transition: 0.4s;
}

.my-portfolio-btn:hover {
    background-color: #05445E;
}

#about {
    padding-top: 100px;
    padding-bottom: 100px;
}

#about .title {
    width: fit-content;
    margin: auto;
}

.about-img {
    width: fit-content;
    margin: auto;
}

.about img {
    max-width: 350px;
}